body {
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;    
    background-color: #2C2B3C;
    color: #EAF0CE;
}

p {
    color: #2C2B3C;
    font-size: 2vw;
    display: inline;
}

header {
    text-align: left;
    height: 5vw;
    background-color: inherit;
}

button{
    background-color: yellow;
    color: #787882;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 0 2vw;
}

#play-again {
    font-size: 1vw;
    height: 4vw;
    float: right;
    visibility: hidden;
}

#friend, #computer{
    width: 30vw;
    height: 6vw;
    font-size: 2vw;
}

#computer{
    margin-left: 5vw;
}

#choose{
    margin-top: 30vh;
}

button:hover {
    background-color: #EAF0CE;
}

.center {
    width: 46vw;
    margin: 1% 25vw;
}

.col {
    float: left;
}

.col:nth-of-type(2) {
    border-width: 1px;
    border-style: none solid;
    border-color: yellow;
}

.cell:nth-of-type(2) {
    border-width: 1px;
    border-style: solid none;
    border-color: yellow;
}

.cell {
    width: 15vw;
    height: 15vw;
    text-align: center;
    font-size: 12vw;
}

#box {
    height: 45vw;
    visibility: hidden;
}

@media (max-width: 1050px) {

    .center{
        width: 91vw;
        margin-left: 2.5vw;
    }

    .cell {
        width: 30vw;
        height: 30vw;
        font-size: 25vw;
    }

    header{
        height: 10vw;
        /* padding: 5vw 0;  */
    }

    p{
        font-size: 4vw;
    }

    #play-again{
        height: 8vw;
        font-size: 3vw;
    }

    #friend, #computer{
        width: 40vw;
        height: 12vw;
        font-size: 3vw;
    }

}